<div id="<%= dom_id post %>" class="post-container">
  <p>
    <strong class="post-title">Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong class="post-title">Content:</strong>
    <span class="post-content"><%= post.content %></span>
  </p>
</div>

